<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/null.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_new2.css' %}">
    <title>Главная</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="header_wrapper">
                <div class="logo_info">
                    <div class="container">
                        <div class="logo_info_wrapper">

                        </div>
                    </div>
                </div>
                <nav class="header_nav">
                    <div class="container">
                        <div class="header_nav_wrapper">
                            <ul class="header_nav_list">
                                <li class="header_nav_item">
                                    <a href="#">Главная</a>
                                </li>
                                <li class="header_nav_item">
                                    <a href="#">Бронирование</a>
                                </li>
                                <li class="header_nav_item">
                                    <a href="#">Авто</a>
                                </li>
                                <li class="header_nav_item">
                                    <a href="#">Статистика</a>
                                </li>
                                <li class="header_nav_item">
                                    <a href="{% url 'admin:index' %}">Админ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <main>
            <div class="main_wrapper">
                <div class="car_schedule">
                    <div class="container">
                        <div class="car_schedule_wrapper">
                            <div class="two_tables">
                                <figure class="table-container">
                                    <table>
                                        <caption style="font-size: 20px"></caption>
                                        <thead>
                                            <tr class="table-header">
                                                <th>Дата</th>
                                                <th>Авто</th>
                                                <th>Инженер</th>
                                                <th>Город</th>
                                                <th>Комментарий</th>
                                                <th>Подтверждение</th>
                                            </tr>
                                        </thead>
                                        {% for day in form_list_first %}
                                            <tbody class="table_day">
                                                {% for car_note in day %}
                                                    <tr class="table_day_row_one table_day_row">
                                                        {% if car_note == day.0 %}
                                                            {% if day_today == car_note.1.date %}
                                                                <td class="table_day_date_today" rowspan="3">
                                                                    <div>
                                                                        <p class="date_in_table">{{ car_note.1.date}}</p>
                                                                        <p class="weekday_in_table">{{ car_note.1.date|date:"l" }}</p>
                                                                    </div>
                                                                </td>
                                                            {% else %}
                                                                <td class="table_day_date" rowspan="3">
                                                                    <div>
                                                                        <p class="date_in_table">{{ car_note.1.date}}</p>
                                                                        <p class="weekday_in_table">{{ car_note.1.date|date:"l" }}</p>
                                                                    </div>
                                                                </td>
                                                            {% endif %}
                                                        {% endif %}
                                                        <td>{{ car_note.1.car }}</td>
                                                        <form action="" method="POST">
                                                            {% csrf_token %}
                                                            <td>
                                                                {% if car_note.1.engineer is not None %}
                                                                    <div class="{{ car_note.1.car.background_color }}">{{ car_note.1.engineer }}</div>
                                                                {% endif %}
                                                            </td>
                                                            <td class="table_day_form">{{ car_note.0.city }}</td>
                                                            <td>{{ car_note.0.comment}}</td>
                                                            <td>
                                                                {% if not car_note.1.engineer %}
                                                                    <button class="apply_button" type="submit" name="{{ car_note.1.id }}">Применить</button>
                                                                {% endif %}
                                                                {% if user.first_name == car_note.1.engineer %}
                                                                    <div class="change_cancel">
                                                                        <button class="change_button" type="submit" name="{{ car_note.1.id }}">Изменить</button>
                                                                        <a class="cancel_button" href="{% url 'cancel_note' car_note.1.id %}"><span>Отмена</span></a>
                                                                    </div>

                                                                {% endif %}
                                                            </td>
                                                        </form>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        {% endfor %}
                                    </table>
                                </figure>
                                <figure class="table-container">
                                    <table>
                                        <caption style="font-size: 20px"></caption>
                                        <thead>
                                            <tr class="table-header">
                                                <th>Дата</th>
                                                <th>Авто</th>
                                                <th>Инженер</th>
                                                <th>Город</th>
                                                <th>Комментарий</th>
                                                <th>Подтверждение</th>
                                            </tr>
                                        </thead>
                                        {% for day in form_list_second %}
                                            <tbody class="table_day">
                                                {% for car_note in day %}
                                                    <tr class="table_day_row_one table_day_row">
                                                        {% if car_note == day.0 %}
                                                            {% if day_today == car_note.1.date %}
                                                                <td class="table_day_date_today" rowspan="3">
                                                                    <div>
                                                                        <p class="date_in_table">{{ car_note.1.date}}</p>
                                                                        <p class="weekday_in_table">{{ car_note.1.date|date:"l" }}</p>
                                                                    </div>
                                                                </td>
                                                            {% else %}
                                                                <td class="table_day_date" rowspan="3">
                                                                    <div>
                                                                        <p class="date_in_table">{{ car_note.1.date}}</p>
                                                                        <p class="weekday_in_table">{{ car_note.1.date|date:"l" }}</p>
                                                                    </div>
                                                                </td>
                                                            {% endif %}
                                                        {% endif %}
                                                        <td>{{ car_note.1.car }}</td>
                                                        <form action="" method="POST">
                                                            {% csrf_token %}
                                                            <td>
                                                                {% if car_note.1.engineer is not None %}
                                                                    {{ car_note.1.engineer }}
                                                                {% endif %}
                                                            </td>
                                                            <td class="table_day_form">{{ car_note.0.city }}</td>
                                                            <td>{{ car_note.0.comment}}</td>
                                                            <td>
                                                                {% if not car_note.1.engineer %}
                                                                    <button class="apply_button" type="submit" name="{{ car_note.1.id }}">Применить</button>
                                                                {% endif %}
                                                                {% if user.first_name == car_note.1.engineer %}
                                                                    <div class="change_cancel">
                                                                        <button class="change_button" type="submit" name="{{ car_note.1.id }}">Изменить</button>
                                                                        <a class="cancel_button" href="{% url 'cancel_note' car_note.1.id %}"><span>Отмена</span></a>
                                                                    </div>

                                                                {% endif %}
                                                            </td>
                                                        </form>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        {% endfor %}
                                    </table>
                                </figure>
                            </div>
                            <div class="paginator3">
                                {% if form_list.number == 1 %}
                                    <a class="page_button_activ" href="?page=1">Предыдущая</a>
                                {% else %}
                                    <a class="page_button" href="?page=1">Предыдущая</a>
                                {% endif %}
                                {% if form_list.number == 2 %}
                                    <a class="page_button_activ" href="{% url 'two_tables_page' %}">Текущая</a>
                                {% else %}
                                    <a class="page_button" href="{% url 'two_tables_page' %}">Текущая</a>
                                {% endif %}
                                {% if form_list.number == 3 %}
                                    <a class="page_button_activ" href="?page={{ form_list.paginator.num_pages }}">Следующая</a>
                                {% else %}
                                    <a class="page_button" href="?page={{ form_list.paginator.num_pages }}">Следующая</a>
                                {% endif %}



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="{% static 'js/change_styles.js' %}"></script>
</body>
</html>