<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/null.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_new.css' %}">
    <title>Главная</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="header_wrapper">
                <div class="logo_info">
                    <div class="container">
                        <div class="logo_info_wrapper">

                        </div>
                    </div>
                </div>
                <nav class="header_nav">
                    <div class="container">
                        <div class="header_nav_wrapper">
                            <ul class="header_nav_list">
                                <li class="header_nav_item">
                                    <a href="#">Главная</a>
                                </li>
                                <li class="header_nav_item">
                                    <a href="#">Бронирование</a>
                                </li>
                                <li class="header_nav_item">
                                    <a href="#">Авто</a>
                                </li>
                                <li class="header_nav_item">
                                    <a href="#">Статистика</a>
                                </li>
                                <li class="header_nav_item">
                                    <a href="#">Админ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <main>
            <div class="main_wrapper">
                <div class="car_schedule">
                    <div class="container">
                        <div class="car_schedule_wrapper">
                                {% for day in group_notes %}
                                    {{ day.0.date }}
                                    <br>
                                    {% for car in day %}
                                        <p>{{ car }}</p>
                                    {% endfor %}
                                {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>