<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Статистика</title>
</head>
<body>
    <div>
        <h2>Укажите диапазон дат для составления отчета</h2>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Запросить</button>
        </form>
    <p>Денис проехал всего {{ km_denis }}</p>
    <p>Костя проехал всего {{ km_kostya }}</p>
    <p>Андрей проехал всего {{ km_andrei }}</p>
    <p>Миша проехал всего {{ km_misha }}</p>
    <p>Олег проехал всего {{ km_oleg }}</p>
    </div>
</body>
</html>