{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тестовая таблица 1</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Здесь должна быть правильная таблица с объединёнными ячейками по вертикали</h1>
<table>
  <caption><h3>Бронирование авто</h3></caption>
  <thead>
    <tr>
      <th>Дата</th>
      <th>День недели</th>
      <th>Авто</th>
      <th>Цифра</th>
    </tr>
  </thead>
  {% for note in notes %}

      <tbody>
        <tr>
          <td rowspan="4">{{ note.0.date }}</td>
          <td rowspan="4">{{ note.0.date }}</td>
          <td>{{ note.0.car }}</td>
          <td>1</td>
        </tr>
        <tr>
          <td>{{ note.1.car }}</td>
          <td>2</td>
        </tr>
        <tr>
          <td>{{ note.2.car }}</td>
          <td>3</td>
        </tr>
    </tbody>

  {% endfor %}
</table>
</body>
</html>