.logo_info_wrapper {
    height: 40px;
}

.header_nav {
    background: #06c051;
    height: 40px;
    margin-bottom: 15px;
}

.header_nav_list {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 8px 0;
}

.header_nav_item a {
    color: white;
    font-size: 20px;
}

.table-header th {
    height: 30px;
    padding: 5px;
    border: 1px solid white;
    background-color: #e0dddd;
}

.table_day:nth-child(odd) {
    background-color: #fdfdfd;
    & input {
        background-color: #fdfdfd;
    }
}

.table_day:nth-child(even) {
    background-color: #e0dddd;
    & input {
        background-color: #e0dddd;
    }
}

.table_day:hover {
    background-color: #0bb8a4;
    transition: 0.5s linear all;

}
.table_day_date_today {
    background-color: #3593ec;
    border: 2px solid #0585ff;
    & div {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 5px;
        color: white;
    }
}


.table_day_date {
    & div {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
}
.date_in_table {
    font-size: 12px;
    white-space: nowrap;
}
.weekday_in_table {
    font-weight: bold;
    white-space: nowrap;
}
.table-container {
    display: flex;
}

.two_tables {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    gap: 20px;
}

td input[type="text"]  {
    width: 100%;
    height: 100%;
    font-family: inherit; /* 1 */
    font-size: inherit; /* 1 */
    line-height: inherit; /* 1 */
    margin: 0; /* 2 */
}

td input:hover{
    background: white;
}


td {
    height: 30px;
    padding: 3px;

}
table {
    border: 1px solid black;
    width: 100%;
    border-spacing: 1px;
    background-color: black;
}
.apply_button {
    width: 100%;
    height: 100%;
    background-color: #03EF62;
    border-radius: 5px;
    font-size: 16px;
}
.change_cancel {
    display: flex;
    gap: 2px;
    height: 100%;
    align-items: center;

}

.cancel_button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: #f53d2a;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    font-size: 14px;
    vertical-align: middle;

}

.change_button {
    background-color: #5eb1ff;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.paginator3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.page_button {
    display: block;
    padding: 15px;
    background: #bdb8b8;
    border-radius: 10px;
    color: black;
    &:hover {
        background: #a29e9e;
        transition: 0.3s linear all;

    }

}
.page_button_activ {
    display: block;
    padding: 15px;
    background: #0585ff;
    border-radius: 10px;
    color: white;
    &:hover {
        background: #0461b9;
        transition: 0.3s linear all;
    }
}

@media (max-width: 990px) {
    .two_tables {
    flex-direction: column;
}
}
.geely {
    font-weight: bold;
    color: #690c02;
}
.vw {
    font-weight: bold;
    color: #02025b;
}

.renault {
    font-weight: bold;
    color: #012f01;
}
